h3 {
  color: #808080;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px;
}

.newImage {
  display: block;
  margin: auto;
  text-align: center;

  .author {
    color: #808080;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    font-size: 20px;
  }

  .description {
    @extend .author;
  }
}