//Partials
@import "partials/_general_styles";

.buttons {
  margin-top: 10px;
  justify-content: center;

  button {
    font-size: 20px;
  }
}

.bodyGallery {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto;

  .idImage {
    @include respond-to('large'){
      flex: 1 1 65%;
      margin-right: 20px;
    };
    flex: 1 1 100%;
    text-align: center;
    font-family: Book Antiqua;

    .image {
      height: 350px;
      background-color: transparent;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border: 5px solid black;
    }

    .author {
      font-size: 30px;
      padding: 5px;
    }

    .description {
      font-size: 20px;
      padding: 5px;
    }
  }

  .sideBarImages {
    @include respond-to('large'){
      flex: 1 1 35%;
      display: block;
    };
    flex: 0 1 100%;
    display: none;
    flex-flow: column wrap;
    border: 10px solid #808080;
    box-shadow: 1px 1px 1px black;

    .sideBarHeader {
      color: #808080;
      font-size: 40px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      text-decoration: underline;
      text-shadow: 1px 1px 1px black;
    }

    .image {
      flex: 1 1 300px;
      height: 200px;
      background-size: 100%;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      margin: 10px;
      border: 1px solid black;
      box-shadow: 1px 1px 1px black;

      .image > div {
        padding: 10px;
      }

      .author {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      button {
        width: 285px;
        height: 150px;
      }
    }
  }
}