.buttons {
  margin-top: 10px;
  justify-content: center;

  button {
    font-size: 20px;
  }
}

.bodyGallery {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: auto;

  .image {
    align-items: flex-start;
    text-align: left;
  }

  .sideBarImages {
    flex-flow: column wrap;
    align-self: flex-end;
  }
}