.buttons {
  margin-top: 10px;
  justify-content: center;

  button {
    font-size: 20px;
  }
}

.bodyGallery {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: auto;

  .idImage {
    align-self: baseline;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    @extend .image;
  }

  .sideBarImages {
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-flow: column wrap;
    align-self: flex-end;

    .image:nth-child(2){
      border-top: 1px dashed black;
      border-bottom: 1px dashed black;
    }
  }
}