// Imports
@import "partials/_clearfix";
@import "partials/_reset";

* {
  box-sizing: border-box;
}

h1 {
  color: #808080;
  font-size: 70px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px;
}

.gallery {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.image {
  flex-basis: fill;
  text-align: center;
  padding: 10px;

  .author {
    margin-bottom: 10px;
  }

  .description {
    @extend .author
  }
}
