// Imports
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";
@import "add-gallery";
@import "gallery-edit";
@import "get-gallery";
@import "gallery-new";
@import "error";

* {
  box-sizing: border-box;
}

body {
  background: url('../pics/asanoha-400px.png');
}

.header {
  color: #808080;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  padding-left: 0;
  text-shadow: 1px 1px 1px black;
}

.homeButtons {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #808080;
  border: 2px solid black;
  border-right: 0px;
  border-left: 0px;

  div {
    display: inline-block;
    padding-right: 10px;
  }

  button {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    padding: 10px;
    background-color: #808080;

    &:hover {
      background-color: #F9FB88;
    }
  }

}

.gallery {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 500px;

  .image {
    height: 250px;
    background-size: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    @include respond-to('large'){
      flex: 0 1 250px;
    };
    flex: 1 1 100%;

    button {
      width: 320px;
      height: 210px;
    }
  }
}

.image {
  text-align: center;

  button {
    cursor: pointer;
  }

  .author {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
  }

  .description {
    @extend .author
  }
}
