// Imports
@import "partials/_clearfix";
@import "partials/_reset";
@import "add-gallery";
@import "gallery-edit";
@import "get-gallery";

* {
  box-sizing: border-box;
}

h1 {
  color: #808080;
  font-size: 70px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px;
}

.homeButtons {
  display: flex;
  width: 70%;
  margin: auto;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: left;
  margin-bottom: 10px;
  background-color: #808080;
  border: 1px solid black;

  button {
    font-family: 'Oswald', sans-serif;
    border: none;
    border-right: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #808080;
  }

}

.gallery {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.image {
  flex-basis: fill;
  text-align: center;
  padding: 10px;

  .author {
    margin-bottom: 10px;
    color: #c0c0c0;
  }

  .description {
    @extend .author
  }
}
