extends _layout

block content
    div(class="header") My Gallery
    div(class="homeButtons")
      a(href="/gallery")
        div Home
      a(href="/user/gallery/new")
        div Add Photo
      a(href="/login")
        div Log In
      a(href="/logout")
        div Log Out
    div(class="errorStatus") Error 404!
    div(class="error")= message