<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="header") Add A Photo
    div(class="homeButtons")
      div
        form(method="GET" action="/gallery")
          button(type="submit") Home
      div
        form(method="GET" action="/gallery/new")
          button(type="submit") Add Photo
    div(class="editInfo")
      form(type="x-www-form-urlencoded" method="POST" action="/user/gallery")
        div
          h2 Enter the specified info:
          div(style="margin-top: 5px") URL:
            input(type="text" name="url" style="width: 200px; margin-left: 20px")
          div(style="margin-top: 5px") Author:
            input(type="text" name="author" style="width: 186px; margin-left: 20px")
          div(style="margin-top: 5px") Description:
            textarea(name="description" style="width: 165px; height: 100px; vertical-align: top; margin-left: 10px")
        button(type="submit") Submit
    div(class="cancel")
      form(method="POST" action="/gallery?_method=GET")
        button(type="submit" style="text-align: center") Cancel