<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    h3 This image will be deleted from the gallery.
    div
      img(src=url)
      p Uploaded by: #{author}
      p Description: #{description}