<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="image")
      div
        img(src=url)
      div(class="author") Uploaded by: #{author}
      div(class="description") Description: #{description}
      div(class="buttons")
          form(method="POST" action="/gallery/" + id + "/edit?_method=GET")
            button Edit
          form(method="POST" action="/gallery/" + id + "?_method=DELETE")
            button Delete
          form(method="POST" action="/gallery?_method=GET")
            button(type="submit") Home