<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="header") My Gallery
    div(class="homeButtons")
      a(href="/gallery")
        div Home
      a(href="/user/gallery/new")
        div Add Photo
      a(href="/login")
        div Log In
      a(href="/logout")
        div Log Out
    div(class="bodyGallery")
      div(class="idImage")
        div(class="image" style="background-image: url('" + photo.url + "')")
        div(class="author") Uploaded by: #{photo.author}
        div(class="description") Description: #{photo.description}
      div(class="sideBarImages")
        div(class="sideBarHeader") Other Images
        each val, index in entries
          a(href="/user/gallery/" + val.id)
            div(class="sideImage" style="background-image: url('" + val.url + "')")
              div(class="author") Uploaded by: #{val.author}