<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    div
      div
        img(src=url)
      div(style="margin-bottom: 5px") Uploaded by: #{author}
      div(style="margin-bottom: 5px") Description: #{description}
      div(style="margin-bottom: 20px")
        span
          button Edit
          button(style="margin-left: 10px") Delete