<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    div
      div
        img(src=url)
      div(style="margin-bottom: 5px") Uploaded by: #{author}
      div(style="margin-bottom: 5px") Description: #{description}
      div(style="margin-bottom: 20px")
        span
          form(style= "display: inline-block" method="POST" action="/gallery/" + id + "/edit?_method=GET")
            button Edit
          form(style= "display: inline-block" method="POST" action="/gallery/" + id + "?_method=DELETE")
            button(style="margin-left: 10px") Delete
          form(method="POST" action="/gallery?_method=GET")
            button(type="submit") Home