<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
body
  h1 Welcome to the gallery!
  each val, index in entries
    div
      img(style="margin-top: 20px", src=val.url)
      div(style="margin-bottom: 5px") Uploaded by: #{val.author}
      div(style="margin-bottom: 5px") Description: #{val.description}