<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
  link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="./css/index.css")
body
  h1 Welcome to the gallery!
  div(class="gallery")
    each val, index in entries
      div(class="image")
        div
          form(method="POST" action="/gallery/" + val.id + "/edit?_method=GET")
            button(style="background: transparent; border: none")
              img(src=val.url)
        div(class="author") Uploaded by: #{val.author}
        div(class="description") Description: #{val.description}