<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
  link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="/css/index.css")
body
  div(class="header") Welcome to my Gallery!
  div(class="homeButtons")
    a(href="/gallery")
      div Home
    a(href="/user/gallery/new")
      div Add Photo
    a(href="/login")
      div Log In
    a(href="/logout")
      div Log Out
  div(class="gallery")
    each entry, index in entries
      div(class="imageDiv")
        a(href="/gallery/" + entry.id)
          div(class="image" style="background-image: url('" + entry.url + "')")
            div(class="author") Uploaded by: #{entry.user.username}
