<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
body
  h1 Welcome to the gallery!
  each val in entries
    div
      img(src=val.url)
      p Uploaded by: #{val.author}
      p Description: #{val.description}