<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
  link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="/css/index.css")
body
  div(class="header") Welcome to my Gallery!
  div(class="homeButtons")
    div
      form(method="GET" action="/gallery")
        button(type="submit") Home
    div
      form(method="GET" action="user/gallery/new")
        button(type="submit") Add Photo
  div(class="gallery")
    each val, index in entries
      div(class="image" style="background-image: url('" + val.url + "')")
        div
          form(method="GET" action="user/gallery/" + val.id)
            button(style="background-color: transparent; border: none")
        div(class="author") Uploaded by: #{val.author}