<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
  link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="./css/index.css")
body
  h1 Welcome to the gallery!
  each val, index in entries
    div
      form(method="POST" action="/gallery/" + val.id + "/edit?_method=GET")
        button(style="background: transparent; border: none")
          img(style="margin-top: 20px", src=val.url)
      div(style="margin-bottom: 5px") Uploaded by: #{val.author}
      div(style="margin-bottom: 5px") Description: #{val.description}