<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery Login
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    form(method="POST" action="/user/login")
      input(type="text" name="username" placeholder="Username")
      input(type="password" name="password" placeholder="Password")
      input(type="submit" value="Submit")