<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="header") My Gallery
    div(class="homeButtons")
      form(method="POST" action="/gallery?_method=GET")
        button(type="submit") Home
      form(method="POST" action="/gallery/new?_method=GET")
        button(type="submit") Add Photo
    h3 This image will be updated to the gallery.
    div(class="image")
      img(src=url)
      p(class="author") Uploaded by: #{author}
      p(class="description") Description: #{description}