.editInfo {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center; }
  .editInfo h2 {
    color: #808080;
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 30px; }
  .editInfo .buttons {
    margin-top: 10px;
    justify-content: space-between; }
    .editInfo .buttons button {
      font-size: 20px; }
  .editInfo input {
    width: 100%; }
  .editInfo textarea {
    width: 100%;
    height: 100px; }
