.buttons {
  margin-top: 10px;
  justify-content: center; }
  .buttons button {
    font-size: 20px; }

.bodyGallery {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: auto; }
  .bodyGallery .image {
    align-items: flex-start;
    text-align: left; }
  .bodyGallery .sideBarImages {
    flex-flow: column wrap;
    align-self: flex-end; }
