.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3 {
  color: #808080;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px; }

.image, .bodyGallery .idImage {
  justify-content: center; }

.buttons {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center; }
  .buttons button {
    margin-right: 30px; }

.editInfo {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center; }
  .editInfo h2 {
    color: #808080;
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 30px; }
  .editInfo .buttons {
    margin-top: 10px;
    justify-content: space-between; }
    .editInfo .buttons button {
      font-size: 20px; }
  .editInfo input {
    width: 100%; }
  .editInfo textarea {
    width: 100%;
    height: 100px; }

.buttons {
  margin-top: 10px;
  justify-content: center; }
  .buttons button {
    font-size: 20px; }

.bodyGallery {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: auto; }
  .bodyGallery .idImage {
    align-self: baseline;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 20px; }
  .bodyGallery .sideBarImages {
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-flow: column wrap;
    align-self: flex-end; }
    .bodyGallery .sideBarImages .image:nth-child(2), .bodyGallery .sideBarImages .idImage:nth-child(2) {
      border-top: 1px dashed black;
      border-bottom: 1px dashed black; }

.cancel {
  display: flex;
  justify-content: center;
  flex: 1 1 100%; }

* {
  box-sizing: border-box; }

body {
  background: url("../pics/asanoha-400px.png"); }

.header {
  color: #808080;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: flex;
  width: 70%;
  margin: auto;
  padding: 20px;
  padding-left: 0;
  justify-content: flex-start; }

.homeButtons {
  display: flex;
  width: 70%;
  margin: auto;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: left;
  margin-bottom: 10px;
  background-color: #808080;
  border: 1px solid black; }
  .homeButtons button {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-right: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #808080; }

.gallery {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex-flow: row wrap; }
  .gallery .image, .gallery .bodyGallery .idImage, .bodyGallery .gallery .idImage {
    width: 250px;
    height: 250px; }
    .gallery .image .image > div, .gallery .bodyGallery .idImage .image > div, .bodyGallery .gallery .idImage .image > div, .gallery .image .bodyGallery .idImage > div, .bodyGallery .gallery .image .idImage > div, .gallery .bodyGallery .idImage .idImage > div, .bodyGallery .gallery .idImage .idImage > div {
      padding: 10px; }
    .gallery .image .author, .gallery .bodyGallery .idImage .author, .bodyGallery .gallery .idImage .author, .gallery .image .description, .gallery .bodyGallery .idImage .description, .bodyGallery .gallery .idImage .description {
      margin-top: 10px; }
    .gallery .image button, .gallery .bodyGallery .idImage button, .bodyGallery .gallery .idImage button {
      width: 200px;
      height: 200px;
      background-size: 100%;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat; }

.image, .bodyGallery .idImage {
  text-align: center;
  padding: 10px;
  flex: 1 1 100%; }
  @media (min-width: 900px) {
    .image, .bodyGallery .idImage {
      flex: 1 1 33%; } }
  .image button, .bodyGallery .idImage button {
    cursor: pointer; }
  .image .author, .bodyGallery .idImage .author, .image .description, .bodyGallery .idImage .description {
    margin-bottom: 10px;
    color: #c0c0c0; }
