.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3 {
  color: #808080;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px; }

.image {
  justify-content: center; }

.buttons {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center; }
  .buttons button {
    margin-right: 30px; }

.editInfo {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center; }
  .editInfo h2 {
    color: #808080;
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 30px; }
  .editInfo .buttons {
    margin-top: 10px;
    justify-content: space-between; }
    .editInfo .buttons button {
      font-size: 20px; }
      .editInfo .buttons button button:nth-child(3) {
        justify-content: right; }
  .editInfo input {
    width: 100%; }
  .editInfo textarea {
    width: 100%;
    height: 100px; }

* {
  box-sizing: border-box; }

h1 {
  color: #808080;
  font-size: 70px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px; }

.homeButtons {
  display: flex;
  width: 70%;
  margin: auto;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: left;
  margin-bottom: 10px;
  background-color: #808080;
  border: 1px solid black; }
  .homeButtons button {
    font-family: 'Oswald', sans-serif;
    border: none;
    border-right: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #808080; }

.gallery {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black; }

.image {
  flex-basis: fill;
  text-align: center;
  padding: 10px; }
  .image .author, .image .description {
    margin-bottom: 10px;
    color: #c0c0c0; }
