.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3 {
  color: #808080;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 30px; }

.image {
  justify-content: center; }

.buttons {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center; }
  .buttons button {
    margin-right: 30px; }

.editInfo {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center; }
  .editInfo h2 {
    color: #808080;
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 30px; }
  .editInfo .buttons {
    margin-top: 10px;
    justify-content: space-between; }
    .editInfo .buttons button {
      font-size: 20px; }
  .editInfo input {
    width: 100%; }
  .editInfo textarea {
    width: 100%;
    height: 100px; }

.buttons {
  margin-top: 10px;
  justify-content: center; }
  .buttons button {
    font-size: 20px; }

.bodyGallery {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto; }
  .bodyGallery .idImage {
    flex: 1 1 65%;
    text-align: center;
    font-family: 'Oswald', sans-serif; }
    .bodyGallery .idImage .image {
      height: 400px;
      background-color: transparent;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px; }
    .bodyGallery .idImage .author, .bodyGallery .idImage .image .description, .image .bodyGallery .idImage .description {
      padding: 10px; }
  .bodyGallery .sideBarImages {
    width: 35%;
    flex-flow: column wrap;
    border: 1px solid black; }
    .bodyGallery .sideBarImages .sideBarHeader {
      color: #808080;
      font-size: 40px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      text-decoration: underline; }
    .bodyGallery .sideBarImages .image {
      width: 300px;
      height: 200px;
      background-size: 100%;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;
      margin-bottom: 10px; }
      .bodyGallery .sideBarImages .image .image > div {
        padding: 10px; }
      .bodyGallery .sideBarImages .image .author, .bodyGallery .sideBarImages .image .description {
        margin-top: 10px;
        margin-bottom: 5px; }
      .bodyGallery .sideBarImages .image button {
        width: 285px;
        height: 150px; }

.cancel {
  display: flex;
  justify-content: center;
  flex: 1 1 100%; }

* {
  box-sizing: border-box; }

body {
  background: url("../pics/asanoha-400px.png"); }

.header {
  color: #808080;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-left: 0;
  justify-content: flex-start; }

.homeButtons {
  display: flex;
  width: 80%;
  margin: auto;
  flex-flow: row nowrap;
  text-align: center;
  margin-bottom: 10px;
  background-color: #808080;
  border: 1px solid black; }
  .homeButtons button {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-right: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #808080; }
    .homeButtons button:hover {
      background-color: #F9FB88; }

.gallery {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; }
  .gallery .image {
    width: 250px;
    height: 250px;
    background-size: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
    flex: 1 1 100%; }
    @media (min-width: 900px) {
      .gallery .image {
        flex: 1 1 30%; } }
    .gallery .image .image > div {
      padding: 10px; }
    .gallery .image .author, .gallery .image .description {
      margin-top: 10px; }
    .gallery .image button {
      width: 320px;
      height: 210px; }

.image {
  text-align: center;
  padding: 10px;
  flex: 1 1 100%; }
  @media (min-width: 900px) {
    .image {
      flex: 1 1 33%; } }
  .image button {
    cursor: pointer; }
  .image .author, .image .description {
    margin-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 1px black; }
